## Über dieses Material

Sie sollten wenig bis kein Vorwissen benötigen, um diesen Erklärungen folgen zu können. Wichtige Begriffe werden definiert und erläutert. Alle Normalformen werden erklärt und mit Beispielen verdeutlicht. Zum Schluss haben Sie die Möglichkeit, Ihr erworbenes Wissen in einem Quiz zu testen.

### Dies ist eine OER!

Diese Einführung in die Normalisierung wurde als Open Educational Resource (OER) veröffentlich und liegt so in einer Creative-Common-Lizenz vor. Gerne können sie gemäß der Lizenzvereinbarung Teile übernehmen und bearbeiten. Falls Sie Verbesserungsvorschläge haben, können Sie [das Gitlab-Projekt](https://gitlab.com/dreinull/oer-db-normalization) besuchen, dort wird Ihnen erklärt, wie Sie Änderungsvorschläge einreichen können. Mehr Informationen über die Lizenz bekommen Sie unter [dieser Seite](http://creativecommons.org/licenses/by-sa/4.0/).

### Zitate

In diesem Dokument werden andere Werke zitiert. Diese sind mit dem Symbol <%= source("Autor 2018", "/") %> gekennzeichnet. Wenn Sie mit der Maus über dieses Symbol gehen, wird Ihnen der Autor des Zitats angezeigt werden. Mit einem Klick auf das Symbol werden Sie zu der Quelle weitergeleitet.
