//= require 'font-awesome'
@import 'materialize'
@import 'variables'
@import 'navigation'
@import 'lists'
@import 'tables'
@import 'typography'
@import 'quiz'

body
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 0 auto

footer
  border-top: 3px solid #f2f2f2

header
  border-bottom: 1px solid $grey

.page-title
  display: block
  color: $grey
  font-size: 2.4rem
  font-weight: 300
  padding: 20px 0
  margin: 0

.content
  max-width: 1000px

.copyright
  margin-top: 100px
  color: $grey
  font-size: .8rem

.definition a
  color: $grey
