.copyright
  %a{ rel: "license", href: "http://creativecommons.org/licenses/by-sa/4.0/", target: '_blank' }
    %img{ alt: "Creative Commons Lizenzvertrag",src: "https://i.creativecommons.org/l/by-sa/4.0/88x31.png" }
  %br
    Dieses Werk ist lizenziert unter einer
    %a{ rel: "license", href: "http://creativecommons.org/licenses/by-sa/4.0/", target: '_blank' }
      Creative Commons Namensnennung - Weitergabe unter gleichen Bedingungen 4.0 International Lizenz
    %p
      Autor:
      %a{ href: 'https://gitlab.com/dreinull', target: '_blank' }
        Jascha Gerles
