!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv": "x-ua-compatible", content: "ie=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %link{ rel: "icon", href: "images/favicon.png" }

    %title Datenbanknormalisierung

    = stylesheet_link_tag "site"
    = stylesheet_link_tag "print"
    %link{ href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: 'stylesheet' }

  %body{ class: page_classes}
    %header
      .container
        %a.page-title{ href: 'index.html' }
          %i.material-icons dns
          Normalisierung von Datenbanken

    %main
      = yield
      = partial 'layouts/copyright'

    = javascript_include_tag "site"
    :javascript
      window.onload = function() {
        window.print();
      }
  </body>
</html>
