Für die dritte Normalform untersucht man die Relation auf transitive Abhängigkeiten.

<%= definition("Transitive Abhängigkeit", "Eine Attributmenge A ist transitiv abhängig von einer Attributmenge C, wenn A funktional abhängig ist von einer Attributmenge B und B wiederum funktional abhängig ist von C." + source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") + source("Steiner 2017", "https://www.springer.com/de/book/9783658042875")) %>

Ein synonym für die transitive Abhängigkeit wäre „indirekte Abhängigkeit“.

<%= definition("Dritte Normalform", "Eine Tabelle befindet sich in dritter Normalform (3NF), wenn sie sich in zweiter Normalform befindet und kein Nichtschlüsselattribut transitiv abhängig ist von existierenden Schlüsselkandidaten." + source("Cushman, Mata-Toledo 2003", "https://books.google.de/books/about/Relationale_Datenbanken.html?id=MLPsAAAACAAJ")) %>
