Im Beispiel existieren zwei Fälle:

<%= table("2nf_main_problems") %>
<%= table("2nf_cars_problems") %>

- Der Mechaniker ist über die M-Nr. transitiv abhängig vom Primärschlüssel.
- Der Kunde ist über die Kd-Nr. transitiv abhängig vom Primärschlüssel.

Die M-Nr. und Kd-Nr. werden in diesem Fall auch Determinanten genannt – durch sie existiert die transitive Abhängigkeit.<%= source("Cushman, Mata-Toledo 2003", "https://books.google.de/books/about/Relationale_Datenbanken.html?id=MLPsAAAACAAJ") %> An dieser Stelle sei bemerkt, dass man die transitive Abhängigkeit auch andersherum identifizieren könnte, da es sich jeweils nur um einzelne Attribute (und nicht Attributmengen) handelt, die transitiv abhängig sind. In diesem Fall liegt es an der Person, die die Datenbank normalisiert, eine sinnvolle Lösung zu erkennen und zu verfolgen.
