## Überführung in die 3NF

Zur Wahrung der 3NF ist es notwendig, diese transitiven Abhängigkeiten aufzulösen. Auch hier werden die Abhängigkeiten in eine neue Tabelle überführt: Die transitiv abhängigen Attribute bilden zusammen mit der Determinante eine neue Tabelle. Nur die Determinante bleibt in der ursprünglichen Tabelle erhalten, in der neuen bildet sie den Primärschlüssel.<%= source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") %>

<%= table("3nf_main") %>
<%= table("3nf_mechanics") %>
