%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Datum
      %th.primary Kennzeichen
      %th MNr.
      %th Mechaniker
      %th.primary DNr.
      %th Beendet
  %tbody
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td M01
      %td Meinecke
      %td D801
      %td Ja
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td M01
      %td Meinecke
      %td D401
      %td Ja
    %tr
      %td 4.5.2018
      %td.notice MS:KU 458
      %td M02
      %td Münz
      %td D106
      %td Ja
    %tr
      %td 5.5.2018
      %td DO:KL 558
      %td M02
      %td Münz
      %td D408
      %td Nein
    %tr
      %td 8.6.2018
      %td MK:KI 163
      %td M03
      %td Maler
      %td.success D402
      %td Nein
    %tr
      %td 9.6.2018
      %td MK:KL 96
      %td M03
      %td Maler
      %td D002
      %td Nein
