%h3.table-header Tabelle: Aufträge
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Datum
      %th.primary Kennzeichen
      %th MNr.
      %th Mechaniker
      %th.primary DNr.
      %th Beendet
  %tbody
    %tr
      %td 16.3.2018
      %td MK:KI 163
      %td.warning M01
      %td.warning Meinecke
      %td D801
      %td Ja
