%h3.table-header Tabelle: Kunden
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Kennzeichen
      %th Automarke
      %th Modell
      %th KdNr.
      %th Kunde
  %tbody
    %tr
      %td MK:KI 163
      %td Volvo
      %td 850
      %td K101
      %td Kiwits
    %tr
      %td.notice MS:KU 458
      %td Ford
      %td Mondeo
      %td K102
      %td Kurze
    %tr
      %td DO:KL 558
      %td VW
      %td Golf
      %td K103
      %td Klein
    %tr
      %td MK:KL 96
      %td Opel
      %td Astra
      %td K103
      %td Klein
