%h3.table-header Tabelle: Autos
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Kennzeichen
      %th Automarke
      %th Modell
      %th KdNr.
  %tbody
    %tr
      %td MS:KU 458
      %td Ford
      %td Mondeo
      %td K102
    %tr
      %td DO:KL 558
      %td VW
      %td Golf
      %td.success K103
    %tr
      %td MK:KL 96
      %td Opel
      %td Astra
      %td.success K103
