%h3.table-header Tabelle: Kunden
%table.striped.responsive-table.z-depth-2
  %thead
    %tr
      %th.primary Kennzeichen
      %th KdNr.
      %th Kunde
  %tbody
    %tr
      %td MK:KI 163
      %td K101
      %td Kiwits
    %tr
      %td MS:KU 458
      %td K102
      %td Kurze
    %tr
      %td MK:KI 163
      %td K101
      %td Kiwits
