## Ein besseres Vorgehen

Bei Syntheseverfahren überlegt man sich nach der ersten Normalform -- losgelöst von Schlüsselkandidaten --, welche Abhängigkeiten in der Relation existieren:<%= source("Elmasri, Navathe 2009", "https://www.pearson-studium.de/grundlagen-von-datenbanksystemen.html") %>

- Datum, Kennzeichen → MNr.
- Kennzeichen → KdNr., Kunde
- Datum, KdNr. → Kd. Alter

In dieser Überlegung taucht auch das oben genannte, wünschenswerte Beispiel auf. Für jede dieser Abhängigkeiten baut man eine Tabelle auf:

<%= table("synth_3nf_mechanics") %>
