## Schlüsselkandidaten und Primärschlüssel
Je nach Definition gehört es schon zur 1NF, einen Primärschlüssel zu erstellen<%= source("Wikibooks 2016", "https://de.wikibooks.org/wiki/Einf%C3%BChrung_in_SQL:_Normalisierung") %>. Dieser dient der eindeutigen Identifizierung eines Eintrages der Tabelle. Spätestens bei der zweiten Normalform sollte man sich das Konzept von Primär- und Fremdschlüsseln zu eigen gemacht haben.

Um diese Beispiel nutzen zu können, gehen wir vereinfacht davon aus, dass Kennzeichen und Auto fest zusammenhängen. Wenn ein Auto also einmal ein Kennzeichen bekommen hat, ändert sich dies nicht mehr und auch, wenn das Auto schon verschrottet wurde, wird das Kennzeichen nicht anderweitig vergeben.
