Zunächst bestimmen wir die verschiedenen Schlüsselkandidaten.

<%= definition("Schlüsselkandidat", "Ein Schlüsselkandidat ist eine minimale Menge von Attributen, mit denen jeder Eintrag in einer Datenbanktabelle eindeutig identifiziert werden kann." + source("Cushman, Mata-Toledo 2003", "https://books.google.de/books/about/Relationale_Datenbanken.html?id=MLPsAAAACAAJ")) %>

Dabei ist nicht nur von den tatsächlich vorliegenden Werten auszugehen, sondern von allen weiteren denkbaren Einträgen. Man könnte auf die Idee kommen, dass die D-Nr. schon als Primärschlüssel ausreicht, da sie in der Tabelle immer eindeutig ist. Allerdings ist dies die ID für die Dienstleistungen, die vorgenommen werden sollen. Soll also bei einem zweiten Auto ein Ölwechsel vorgenommen werden, ist das Feld nicht mehr eindeutig. Man erkennt schnell: Zum Identifizieren der Schlüsselkandidaten benötigt man genaue Kenntnisse der Umstände.

In der Praxis ist es ein häufiges Vorgehen, einen künstlichen Schlüssel hinzuzufügen, der etwa eine aufsteigende Nummerierung der Einträge enthält.<%= source("Kleuker 2016", "https://www.springer.com/de/book/9783658123376") %> In unserem Beispiel ist dieses Vorgehen allerdings nicht notwendig.

Mögliche Schlüsselkandidaten sind:

- Datum, Kennzeichen, D-Nr.
- Datum, Kennzeichen, Dienstleistung
- Datum, Kennzeichen, Auftrag, Beendet
