---
title: Test
layout: print
---

%a.close-print{ href: 'javascript:window.close();' }
  Druckansicht schließen
= partial 'introduction'
= partial '1nf'
= partial 'keys_and_dependencies'
= partial '2nf'
= partial '3nf'
= partial 'synthesis'
