---
title: Quiz
layout: quiz
---

<div id="quiz">
  <h1>{{ quiz.title }}</h1>

  <form>

    <div v-for="(question, q) in quiz.questions" class="question" :class="check(question, q)">

      <h2>{{ question.text }}</h2>
      <img v-if="question.image" :src="'images/quiz/' + question.image" class="z-depth-2 responsive-img">

      <p v-for="(response, r) in question.responses">
        <input type="radio"
          :id="q + '-' + r"
          :name="q"
          :value="r"
          v-model="answered[q]"
        >
        <label :for="q + '-' + r">
           <span>{{ response.text }}</span>
        </label>
      </p>

      <p v-if="question.reasoning" class="reasoning">{{ question.reasoning }}</p>

    </div>
  </form>
</div>
