---
title: Zusammenfassung
---
%section
  %article
    %h1 Zusammenfassung
    = partial "content/summary/normalization"
    = partial "content/summary/definitions"
    = partial "content/summary/quiz"
    = chapter("Quiz starten", "quiz")
