:javascript
  var quiz = {

    title: 'Quiz zur DB-Normalisierung',
    questions: [
      {
        text: 'Eine Tabelle in 3NF befindet sich immer auch in 1NF.',
        responses: [
          { text: 'Richtig' },
          { text: 'Falsch' },
        ],
        correct: 0,
        reasoning: 'Richtig! Die Normalformen bauen aufeinander auf.'
      },
      {
        text: 'Befindet sich diese Tabelle in der ersten Normalform?',
        image: '1.png',
        responses: [
          { text: 'Ja' },
          { text: 'Nein' },
        ],
        correct: 1,
        reasoning: 'Korrekt, im Sinne der ersten Normalisierung sollte man Vor- und Nachnamen trennen.'
      },
      {
        text: 'Welches ist kein zugelassener Attributwert im Sinne der ersten Normalform?',
        responses: [
          { text: 'Ein Boolean' },
          { text: 'Ein leeres Feld' },
          { text: 'Eine Aufzählung' }
        ],
        correct: 2,
        reasoning: 'Richtig, eine Liste sollte in zusätzliche Zeilen/Spalten überführt werden.'
      },
      {
        text: 'Der Primärschlüssel einer Tabelle kann beliebig aus allen Spalten gewählt werden.',
        responses: [
          { text: 'Richtig' },
          { text: 'Falsch' }
        ],
        correct: 1,
        reasoning: 'Absolut richtig! Der Primärschlüssel kann nur aus den Schlüsselkandidaten ausgewählt werden.'
      },
      {
        text: 'Wie werden die Attribute, die zum Primärschlüssel gehören, normalerweise dargestellt?',
        responses: [
          { text: 'Fett' },
          { text: 'Kursiv' },
          { text: 'Unterstrichen' }
        ],
        correct: 2,
        reasoning: 'Richtig, das hat sich als Konvention durchgesetzt.'
      },
      {
        text: 'Die Attributmenge A sei funktional abhängig von der Attributmenge B. Somit kann sie nicht mehr von einer Teilmenge von B funktional abhängig sein.',
        responses: [
          { text: 'Richtig' },
          { text: 'Falsch' }
        ],
        correct: 1,
        reasoning: 'Richtig erkannt! Dies wäre nur der Fall, wenn A vollfunktional abhängig von B wäre.'
      },
      {
        text: 'Eine Tabelle, die sich in 1NF befindet und deren einziger Schlüssel nur aus einem Attribut besteht, ist auch in 2NF.',
        responses: [
          { text: 'Richtig' },
          { text: 'Falsch' }
        ],
        correct: 0,
        reasoning: 'Korrekt!'
      },
      {
        text: 'In welchen Normalformen befindet sich diese Tabelle?',
        image: '2.png',
        responses: [
          { text: '1NF' },
          { text: '1NF und 2NF' },
          { text: '1NF, 2NF und 3NF' },
        ],
        correct: 1,
        reasoning: 'Richtig! Alle Nichtschlüsselattribute sind von den denkbaren Schlüsseln vollfunktional abhängig, allerdings existiert eine transitive Abhängigkeit beim Twitterhandling des Produzenten.'
      },
    ]
  }
